.DS_Store
*~

# Emacs generated state
.emacs.d/#*#
.emacs.d/.#*
.emacs.d/.cache/
.emacs.d/.lsp-session-v1
.emacs.d/.mc-lists.el
.emacs.d/.org-generic-id-locations
.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/bookmarks
.emacs.d/custom.el
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/history
.emacs.d/lisp/*.elc
.emacs.d/oauth2-auto.plist
.emacs.d/org-persist/
.emacs.d/org-roam.db
.emacs.d/persist/
.emacs.d/projects
.emacs.d/request/
.emacs.d/transient/
.emacs.d/tree-sitter/
.emacs.d/url/
.emacs.d/whisper/
.emacs.d/*.html
.emacs.d/*.pdf
.emacs.d/*.tex

Mononoki/
